*{
    margin: 0;
}
h1{ margin-top: 2%;
    background-color: black;
    color: darkorange;
    padding: 1%;
    font-size: 60px;
}
body{
    background-color: black;
}
button{
    background-color: darkorange;
    color: black;
    border: none;
    width: 8%;
    height: 38px;
    font-size: 160%;
    margin-bottom: .5%;
}
#number{
    color: white;
    font-size: 500%;
}
#click{
    font-size: 200%;

}
#buy{
 font-size: 110%;
}
#upgrade{
    font-size: 110%;
}
aside{
    margin-top: 2%;
}
h2{
    color: white;
    font-size: 100%;
    margin-left: -1.8%;
}
#buycost{
    display: inline;
}
#buycost1{
    display: inline;
}
.credit{
    margin-top: 10%;
    color: darkorange;
}